<%# app/views/abastecimentos/_tabela_abastecimentos.html.erb %>
<%# Essa partial espera uma variável local chamada 'abastecimentos' (ou @abastecimentos no seu controller) %>

<% if @abastecimentos.any? %> <%# Note: usando 'abastecimentos' se passado como local, ou '@abastecimentos' se for variável de instância %>
  <h2>Abastecimentos Registrados</h2>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Veículo</th>
      <th>Preço por Litro</th>
      <th>Quantidade (Litros)</th>
      <th>Data do Abastecimento</th>
    </tr>
    </thead>
    <tbody>
    <% @abastecimentos.each do |abastecimento| %>
      <tr>
        <td><%= abastecimento.veiculo&.placa || "N/A" %></td> <%# Exibe a placa do veículo, ou "N/A" se não houver %>
        <td><%= number_to_currency(abastecimento.preco_litro, unit: "R$", separator: ",", delimiter: ".") %></td> <%# Formata o preço por litro como moeda BRL %>
        <td><%= number_with_precision(abastecimento.quantidade_litros, precision: 2, separator: ",", delimiter: ".") %></td> <%# Exibe a quantidade de litros com 2 casas decimais %>
        <td><%= l(abastecimento.data_abastecimento) %></td> <%# Exibe a data formatada de forma localizada %>
        <td><%= link_to 'Ver Detalhes do abastecimento', abastecimento_detalhes_path(abastecimento) %></td> <%# Link para a página de detalhes do frete %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info" role="alert">
    Nenhum abastecimento registrado.
  </div>
<% end %>