<%# app/views/manutencoes/show.html.erb %>

<h1>Detalhes da Manutenção</h1>

<p>
  <strong>Veículo:</strong>
  <% if @manutencao.veiculo.present? %>
    <%= @manutencao.veiculo.placa %> - <%= @manutencao.veiculo.modelo %>
  <% else %>
    Não atribuído
  <% end %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= (@manutencao.tipo) %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @manutencao.descricao %>
</p>

<p>
  <strong>Data Agendada:</strong>
  <%= l(@manutencao.data_agendada) if @manutencao.data_agendada.present? %>
</p>

<p>
  <strong>Data de Entrega do Veículo:</strong>
  <%= l(@manutencao.data_entrega_veiculo) if @manutencao.data_entrega_veiculo.present? %>
</p>

<p>
  <strong>Custo:</strong>
  <%= number_to_currency(@manutencao.custo, unit: "R$", separator: ",", delimiter: ".") if @manutencao.custo.present? %>
</p>

<p>
  <strong>Oficina:</strong>
  <%= @manutencao.oficina %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= l(@manutencao.created_at, format: :short) %>
</p>

<p>
  <strong>Última atualização:</strong>
  <%= l(@manutencao.updated_at, format: :short) %>
</p>


<%= link_to 'Voltar para dashboard', gerente_dashboard_path %>